<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tust.lamp.mapper.MaintenanceMapper">

	<select id="getAll" resultType="com.tust.lamp.entity.Maintenance">
		SELECT id, name
		FROM maintenance
	</select>

	<update id="update">
		UPDATE maintenance
		SET name = #{name}, telephone = #{telephone}, phone = #{phone}
		WHERE id = #{id}
	</update>

	<select id="getById" resultType="com.tust.lamp.entity.Maintenance">
		SELECT *
		FROM maintenance
		WHERE id = #{id}
	</select>

	<insert id="save">
		INSERT INTO maintenance(name, telephone, phone)
		VALUES(#{name}, #{telephone}, #{phone})
	</insert>

	<select id="getList" resultType="com.tust.lamp.entity.Maintenance">
		SELECT *
		FROM maintenance
	</select>

</mapper>